[App]
debug          = True
secret         = xxxxxxxxxxxxxxxxxxxx
allowed_hosts  = *
static_root    = C:\tmp

[Logging]
app_handler    = file
app_level      = DEBUG
django_handler = console
django_level   = INFO
log_file       = django.log

[Database]
name           = database
user           = database
pass           = xxxxxxxxxxxxxxxxxxxx
host           = mysql
port           = 3306

[API]
api_token      = xxxxxxxxxxxxxxxxxxxx
client_id      = xxxxxxxxxxxxxxxxxxxx
client_secret  = xxxxxxxxxxxxxxxxxxxx
redirect_uris  = null
