{% load staticfiles %}

<div class="row">
    <div class="col-sm-4">
        <img id="login-logo" class="img-responsive center-block" src="{% static 'images/al64.png' %}" alt="alexa-gdax">
    </div>
    <div class="col-sm-4">
        <img id="login-logo" class="img-responsive center-block" src="{% static 'images/arrow64.png' %}" alt="alexa-gdax">
    </div>
    <div class="col-sm-4">
        <img id="login-logo" class="img-responsive center-block" src="{% static 'images/gdax64.jpg' %}" alt="alexa-gdax">
    </div>
</div>
<h2 class="text-center">alexa-gdax</h2>
